
/*
#challenge {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #problems {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
*/
#results {
    font-family: sans-serif;
    /*'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }
#problems {
    font-family: sans-serif;
} 

#challenge {
    font-family: sans-serif;
}

#reflection {
    font-family: sans-serif;
}

#output {
  font-family: sans-serif;
}