
/*
#challenge {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #problems {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
*/
  #results {
    font-family: fantasy;
    /*'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }
  #problems {
    font-family: fantasy;
  } 

  #challenge {
    font-family: fantasy;
  }

  #reflection {
    font-family: fantasy;
  }

  #hogwarts {
    padding: 5px;
    border: dotted 5px;
  }

  #sortingText #output{
    font-family: fantasy;
  }
